<div id="<%= dom_id vehicle %>">
  <div>
    <strong>Placa:</strong>
    <%= vehicle.placa %>
  </div>

  <div>
    <strong>Modelo:</strong>
    <%= vehicle.modelo %>
  </div>

  <div>
    <strong>Capacidade:</strong>
    <%= vehicle.capacidade %>
  </div>

</div>
